/** @format */

body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Rubik", sans-serif, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	overflow-x: hidden;
}

code {
	font-family: "Rubik", sans-serif, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #393c41;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

@keyframes animateDown {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}

	40% {
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
	}

	60% {
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
	}
}

a {
	text-decoration: none;
}
