body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Rubik', sans-serif, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	overflow-x: hidden;
}

code {
	font-family: 'Rubik', sans-serif, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #393c41;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

@keyframes animateDown {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}

	40% {
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
	}

	60% {
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
	}
}

a {
	text-decoration: none;
}

.control {
	margin-bottom: 1.2rem;
	color: #1c1e21;
}

.control label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 14px;
	font-weight: bold;
	color: #222;
}

.control label#filePicker-label,
.control textarea,
.control input {
	align-items: center;
	border-radius: 50px;
	display: inline-flex;
	font-size: 1rem;
	height: 2.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-left: 0.8em;
	padding-right: 0.8em;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #363636;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	width: 100%;
	/* margin-bottom: 20px; */
	transition: 0.5s;
}

.control input::hover {
	border: 1px solid #666666;
	outline: 0 !important;
}

.control input:focus,
.control input:active {
	outline: 0 !important;
	/* border-color: #0a66c2; */
}

.control label#touched.invalid,
.control textarea.is-invalid,
.control textarea.touched.invalid,
.control input.is-invalid,
.control input.touched.invalid {
	border-color: #ff9700;
	background: #ffc2c2;
	box-shadow: none;
	transition: 0.3s;
}

.actions {
	margin-top: 1.5rem;
}
p.option {
	border-bottom: 1px solid #a6a6a6;
	text-align: center;
	font-weight: bold;
	margin-top: 1.813rem !important;
	font-size: 12.5px !important;
	line-height: 1.5 !important ;
}

.control label.error,
.error {
	width: 100%;
	color: red;
	/* color: #ff9700; */
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: right;
	padding-right: 1.4rem;
}

input:placeholder {
	font-size: 0.9rem;
}

::-webkit-input-placeholder {
	/* Edge */
	color: red;
	font-size: 0.9rem;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: red;
	font-size: 0.9rem;
}

::placeholder {
	font-size: 0.9rem;
}
